body {
   background: rgb(163, 151, 161);
   background-image: url("../images/trainbg2.jpg");
   background-size: cover;
}


.jumbotron{
	background-color: #044139;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.brand {
    font-family: 'Ceviche One', cursive;
}
table{
	padding:10px;
}

#panel-heading-schedule{
    background-color: #044139;
    color: white;
}


#panel-heading-form{
    background-color: #044139;
    color: white;
}

th {
    font-weight: bold;
}
form{
	padding: 10px;
}